// Media Queries

@media screen and (max-width: 420px) and (min-width: 366px) {
    // responsive header
    .container-header {
        background-image: url(/assets/img/Groupe.png);
        // background-color: $black;
        height: 812px;
        .container-hamburger {
            position: fixed;
                font-size: 2rem;
                right: 10px;
                top: 10px;
                text-align: end;
            .hamburger-nav {
                color: $black;
    
                &>:hover {
                    cursor: pointer;
                }
                .list-hambuger {
                    
                    li>a {
                        text-decoration: none;
                    }
                }
            }
        }   
        .nav-header {
            display: none;  
        }
        .container-title {
            .title {
                &>h1 {
                    font-size: 1.5rem;
                    padding-bottom: 10%;
                }
                &>h2 {
                    font-size: 2rem;
                }
            }
        }   
    }
    // reponsive section about me
    .container-about {
        height: 812px;
        .title-about {
            font-size: 2rem;
            padding-top: 20%;
            padding-bottom: 25%;
        }
        .text-about {
            padding-top: 25%;
            padding-bottom: 25%;
            font-size: 1rem;
        }
        .btn-about {
            
            & span {
                display: none;
            }
            & i {
                display: none;
            }
        }
    }
    // responsive section skill

    .background-skill {
        
        .container-skill {
            padding-top: 14%;
            &>h2 {
                font-size: 2rem;
            }    
            .container-icon-skill {
                @include flex (column, flex-start, center);
                .icon-skill {
                    font-size: 3rem;
                    padding-top: 12%;
                }    
            }
        }  
    }
    // responsive section portfolio

    .container-portfolio {
        height: 812px;
        .title-portfolio {
            font-size: 2rem;
            padding-top: 10%;
        }
        .container-img-portfolio {
            @include flex (column, center, center);
            width: 80%;
            .item-portfolio {
                width: 80%;
                padding-top: 10%;
                .img-portfolio-the-resto {
                    height:50%;
                }
                .img-portfolio-gaming-campus{
                    height:50%;
                }
                .img-portfolio-arclabs {
                    height:50%;
                }
                .title-items {
                    font-size: 1rem;
                    padding-top: 14%;
                }
            }
        }
    }
    // responsive section contact
    
    .background-contact {
        height: 812px;
        .title-contact {
            font-size: 2.5rem;
            width: 100%;
            padding-top: 14%;
            padding-bottom: 14%;
        }
        .form-contact {
            width: 80%;
            .form-items {
                padding-top: 15%;
                &>input {
                    height: 30px;
                    font-size: 0.90rem;
                }
            }
            .form-btn {
                padding-top: 15%;
            }
            .icon-return {
                padding-top: 10%;
                font-size: 3rem;
            }
        }
    }
    // responsive footer

    .container-footer {
        height: 30px;
        .text-footer {
            width: 50%;
            font-size: 0.45rem;

        }
        .container-icon-footer {
            width:50%;
            &>a {
              color: $black;
              font-size: 0.9rem;
            }
        }    
    }
}