@mixin flex($dir, $just, $al) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $al;
}
@mixin font($family, $size, $align: left, $space: 0) {
    font-family: $family;
    font-size: $size;
    text-align: $align;
    letter-spacing: $space;
}