// style section Portfolio

.background-skill {
    width: 100%;
    height: 900px;
    background-color: $grey;
        .container-skill {
            @include flex (column, flex-start, center);
            text-align: center;
            width: 100%;
            padding-top: 7%;
            &>h2 {
                font-family: "Orbitron";
                font-size: 4rem;
                padding-bottom: 7%;
            } 
        .container-icon-skill{
            width: 80%;
            @include flex (row, space-evenly, center);
            flex-wrap: wrap;
            .icon-skill {
                padding-top: 7%;
                width: 25%;
                font-size: 10rem;
                
            }   
        }    
    }
}